<mat-toolbar color="warn">
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->

  <span class="">Time card</span>
  <span class="example-spacer"></span>
  <!-- <ejs-toolbar>
    <e-items>
      <e-item text="Cut"></e-item>
      <e-item text="Copy"></e-item>
      <e-item text="Paste"></e-item>
      <e-item type="Separator"></e-item>
      <e-item text="Bold"></e-item>
      <e-item text="Italic"></e-item>
      <e-item text="Underline"></e-item>
    </e-items>
  </ejs-toolbar> -->
</mat-toolbar>
<div>
  <!-- <app-child
    gender="{{ genderFromParent }}"
    fullName="{{ nameFromParent }}"
  ></app-child> -->

  <ul>
    <li *ngFor="let item of booklists">
      <app-child
        gender="{{ genderFromParent }}"
        fullName="{{ nameFromParent }}"
        title=" {{ item.title }}"
      ></app-child>
    </li>
  </ul>
</div>
